body, html {
	background-color:#2b6161;
	height:100%;
	width:100%;
	margin:0;padding:0;
	font-family:'Sintony', sans-serif;
}
div, h1, h2, h3, h4, h5, h6, p, nav, ul, li {margin:0;padding:0;font-weight:100;}
a {
	text-decoration:none;
	color:black;
}
a:hover {
	color:#52575c;
}
li {
	list-style:none;
}
h1 {
	margin-left:20px;
	font-family: 'Patrick Hand SC', sans-serif;
	font-size:70px;
	color:#ccc;
	float:left;
}
h2 {
	float:left;
	font-size:20px;
	color:#7a8288;
}
h3 {
	font-size:30px;
}
h4 {
	font-family: 'Simonetta', sans-serif;
	font-size:60px;
}
h5 {
	font-size:25px;
	margin-bottom:20px;
}
h6 {
	font-size:20px;
}
p {
	font-size:16px;
	color:#7a8288;
}
.tinynav { display: none }
#topbar {
	height:100px;
	background-color:#3a3f44;
	background-image:url('pattern.png');
	border-bottom:1px solid #ddd;
}
#nav {
	background-color:#104949;
	border-radius:5px;
	margin-top:40px;
	margin-right:20px;
	color:#52575c;
	height:36px;
	width:430px;
	float:right;
}
#nav a {
	padding:8px 5px 5px 5px;
	float:right;
	margin-left:7px;
	margin-right:7px;
	font-size:16px;
	color:#7a8288;
	text-decoration:none;
}
#nav a:hover {
	color:#ccc;
}
#footer {
	background-color:#3a3f44;
	color:#52575c;
	width:100%;	
	padding:10px;
	position:fixed;
	bottom:0;

}
#footer a {
	font-size:20px;
	margin-left:20px;
	color:#52575c;
	text-decoration:none;
}
#footer a:hover {
	color:#ccc;
}
#info {
	margin: 0 10% 10% 10%;
}
#content {
	position:relative;
	top:5%;
}
.lesson {
	text-align:center;
	float:left;
	width:20%;
	min-width:200px;
	margin-left:9%;
}
.lesson:hover {
	background-color:#244c4e;
	cursor:pointer;
}
.button {
	padding: 10px 15px;
	background-color:#104949;
	border-radius:10px;
	width:200px;
}
.button:hover {
	cursor:pointer;
	color:#2b6161;
}
.nextbutton {
	padding: 10px 15px;
	background-color:#104949;
	border-radius:10px;
	width:300px;
}
.nextbutton:hover {
	cursor:pointer;
	color:#2b6161;
}
.quizbutton {
	font-size:16px;
	padding: 5px 8px;
	background-color:#104949;
	border-radius:10px;
	width:300px;
}
.quizbutton:hover {
	cursor:pointer;
	color:#2b6161;
}
#next {
	margin: 50px 10% 0 0;
	float:right;
}
#test {
	text-align:center;
}
#text {
	width:300px;
	font-size:16px;
}
#quiz, #quiz2 {
  text-align:center;
  margin:0 10%;
  width:306px;
  float:left;
}
#quiz{
	float:left;
}
#quizF{
   display:none;
   margin:0 0 50px 30%;
   width:300px;
   background-color:#477c7c;
   border-radius:25px;
   box-shadow: 0 0 45px #001616;
   padding:20px 50px 100px 50px;
 }
 #quizF input {
   width:294px;
   font-size:16px;
   border-radius:5px; 
 }
 #quizF h5 {
   margin-bottom:5px;
   margin-left:85px;
 }
 #quizF div {
   padding-bottom:40px;
 }
 #quizF p {
  color:black;
 }
