body {
  background-image:url(images/bg.gif);
  font-family: 'open sans', sans-serif;
  font-weight:300;
  height:100%;
}

.site {
  margin:0 auto;
  width:1000px;
  min-height:100%;
}

#ws {
  color:#AB2746;
  font-family:'Open Sans', sans-serif;
  font-size:100px; 
  font-weight:700;
  padding-top:25px;
  text-align:center;
}
#ws:hover {
  cursor:default;
}

.bar {
  position:fixed;
  right:98%;
  top:0;
  bottom:0;
  min-height:100%;
  width:35px;
  background-color:rgba(14, 32, 59, .7); 
}

.bar2 {
  position:fixed;
  left:98%;
  min-height:100%;
  width:35px;
  background-color:rgba(14, 32, 59, .7); 
}

.top {
  position:fixed;
  height:10px;
  left:0;
  right:0;
  top:0;
  background-color:rgba(255, 250, 250, .7); 
  z-index:200;
}

.bottom {
  position:fixed;
  height:10px;
  left:0;
  right:0;
  bottom:0px;
  background-color:rgba(255, 250, 250, .7); 
  z-index:200;
}


/*  -----------  CONTENT  -----------  */

.content {
  background-color:rgba(14, 32, 59, .5); 
  margin-top:-11px;
  padding:60px 50px 0px 50px;
}

.cone {
  width:200px;
  height:600px;
  float:left;
}
.cone p {
  float:right;
  margin-right:15px;
}

.ctwo {
  background-image:url(images/bg.jpg);
  width:650px;
  float:right;
  padding-top:30px;
}
.ctwo p, .ctwo a, .ctwo h3 {
  padding:10px 20px 0 25px;
}

a {
  text-decoration:none;
  color:black;
}

p {
  font-size:16px;
  line-height:35px;
}

h2 {
  font-size:30px;
  background-color:rgba(14, 32, 59, .5);
  padding:25px;
  margin:19px;
  color:white;
  font-family:'Open Sans', sans-serif;
}

hr {
  width:610px;
  border-top:2px solid black;
  margin-left:20px;
  margin-top:420px;
}
hr.small {
  margin-top:170px;
}
hr.small2 {
  margin-top:120px;
}

h3 {
  font-size:25px;
}

nav {
  text-align:center;
  margin-bottom:30px;
}
nav a {
  font-size:20px;
  font-weight:400;
}



/*  -----------  NAVIGATION BRACKETS  -----------  */

.navmove a::before,
.navmove a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.navmove a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.navmove a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.navmove a:hover::before,
.navmove a:hover::after,
.navmove a:focus::before,
.navmove a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

.skillsbul {
  list-style-image: url(images/check.png); 
  float:left;
  margin-left:50px;
  margin-right:20px;
}
.skillsbul li { margin-top:20px; }

.skillsbul.left{ margin-left:60px; }
.skillsbul.right{ margin-left:30px; }


/*  -----------  SLIDER  -----------  */

.floatleft{float:left;margin-left:25px}

.preview {
  float:left;
  margin-top:10px;
  margin-bottom:20px;
  font-weight:600;
}
.preview:hover {
  text-decoration:underline;
}

.skillsbul {
  float:left; 
}



/*  -----------  FOOTER  -----------  */

h4 {
  font-weight:600;
  margin-bottom:20px;
  text-align:center;
}

.footer {
  background-color:rgba(14, 32, 59, .7);
  height:200px;
  padding:20px 0 20px 30px;
  border:1px solid rgba(14, 32, 59, .8);
  color:white;
}

.footer li {
  list-style:none;
  padding:8px 5px;
  border-bottom:1px solid #BABBCF;
  text-align: center;
}

.footer a {
  color:white;
}

.footer p {
  float:right;
}

.connect {
 float:left; 
 width:250px;
}

.contact {
  margin-right:50px;
  float:right;
  width:420px;
}

textarea {
  width:400px;
  height:105px;
  background-image:url(images/note.jpg);
  font-family: 'Delius', 'open sans', sans-serif;
  font-size:13px;
  padding: 30px 10px 0 10px;
}

input[type=text] {
  font-family: 'Delius', 'open sans', sans-serif;
}

.footer input[type=text], input[type=email] {
  margin-left:5px;
  margin-top:5px;
  width:95px;
  height:10px;
  float:right;
  padding:5px;
  font-family: 'Delius', 'open sans', sans-serif; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
  background-image:url(images/ricepaper.png);
}

.footer input[type=submit]{
  float:right;
  padding:3px;
}
