html, body, h1, h2, h3, h4, p, a {
  font-family: 'Muli', sans-serif;
}

body {
  background-color: #002157;
  color: #fff;
  letter-spacing: .5px;
}

h1 { font-size: 40px; }
h2 { font-size: 30px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
p  { font-size: 16px; }
a  {
  text-decoration: none;
  font-weight: 100;
}
ul {}
br {}
hr {}
.grey-text {
  font-weight: 100;
  color: #aaa;
}

.wrapper {
  min-width: 360px;
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

.cover {
  height: 720px;
  background: url(../img/cover-background-800.png) top left no-repeat;
  .cover-title {
    padding: 60px 0 0 30px;
    color: #002157;
    font-family: 'Amatic SC', sans-serif;
  }
}
.about {
  height: 580px;
  display: relative;
  margin-top: 0;
  background: url(../img/lab-egg.png) bottom center no-repeat;
  background-color: #002157;
  .bookshelf {
    background: none;
    float: none;
    width: 100%;
    text-align: center;
  }
  .lab-right {
    .chalkboard-text {
      color: #b6dbdd;
      font-size: 30px;
      margin-bottom: 45px;
      text-align: center;
    }
    .lab-right {
      margin: 0 auto;
      img.dinos {
        display: none;
      }
    }
  }
  .skills {
    text-align: center;
    font-size: 22px;
    margin-bottom: 18px;
    color: #b6dbdd;
  }
}
.exper {
  padding-top: 80px;
  background-color: #003664;
  .willow {
    font-size: 35px;
  }
  .history {
    margin-left: 0;
  }
  .exper-box {
    margin-bottom: 20px;
  }
  .exper-title-main {
    font-weight: 100;
    font-size: 25px;
  }
  .exper-title {
    margin-bottom: 10px;
  }
  .exper-company {
    margin-bottom: 20px;
  }
  .exper-desc {
    margin-bottom: 60px;
    color: #b6dbdd;
  }
  .exper-desc.last {
    margin-bottom: 0;
  }
}