/* breakpoints based on material design */

.show-840, .show-1280 {
  display: none;
}

@media (min-width: 480px) {
  // tablets - portrait
  // mobiles - landscape
}

@media (min-width: 840px) {
  // tablets - landscape
  .show-840 { display: block; }
  .hide-840 { display: none ; }
  .cover {
    height: 720px;
    background: url(../img/cover-background-1280.png) top left no-repeat;
    .cover-title {
      padding: 80px 0 0 180px;
      font-size: 60px;
      text-align: left;
    }
  }
  .about {
    height: 400px;
    background: url(../img/lab-dinos-sm.png) bottom center no-repeat;
    .bookshelf {
      margin: 20px auto -20px auto;
      float: none;
    }
    .dinos {
      position: relative;
      margin: 0 auto;
      bottom: -20px;
    }
  }
  .exper {
    background: url(../img/chemical-background.png) bottom right no-repeat #003664;
    .history {
      margin-left: 10%;
    }
  }
}

@media (min-width: 1280px) {
  // desktops
  .show-1280 { display: block; }
  .hide-1280 { display: none ; }
  .cover {
    height: 800px;
    background: url(../img/cover-background-1500.png) top center no-repeat;
    .cover-title {
      padding: 140px 0 0 100px;
    }
  }
  .about {
    height: auto;
    background-image: none;
    padding-top: 50px;
    .wrapper {
      display: flex;
      justify-content: center;
    }
    .bookshelf {
      //background: url(../img/lab-bookshelf.png) top center no-repeat;
      height: 668px;
      width: 590px;
    }
    .lab-right {
      position: relative;
      width: 550px;
      img.chalkboard {
        margin: 20px 0 0 25px;
        width: 550px;
      }
      .dinos {
        position: relative;
        bottom: -52px;
      }
      .chalkboard-text {
        position: absolute;
        text-align: left;
        color: #b6dbdd;
        font-family: 'Walter Turncoat', sans-serif;
        top: 50px;
        left: 60px;
      }
    }
  }
}

@media (min-width: 1440px) {
  // large screens
}