div.min-width {
  min-width: 360px;
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}
.bookshelf-mobile, .show-900 {
  display: none;
}

@media (min-width: 1101px) {
  .cover {
    background: url(../img/cover-background-1500.png) top center no-repeat;
  }
}

@media (max-width: 1260px) {
  .about {
    margin-top: 50px;
    height: auto;
    .bookshelf {
      margin: 20px auto -20px auto;
      background: url(../img/lab-bookshelf-sm.png) top center no-repeat;
      height: 402px;
      width: 827px;
      float: none;
    }
    .lab-right {
      float: none;
      margin: 0 auto;
      img.dinos {
        display: none;
      }
    }
  }
}

@media (max-width: 1100px) {
  .cover {
    background: url(../img/cover-background-1100.png)  top center no-repeat;
    .cover-title {
      padding: 210px 0 0 100px;
      font-size: 34px;
    }
  }
  div.max-width {
    width: 100%;
    margin: 0;
  }
  .nav-bar { 
    div.max-width {
      padding: 0;
    }
  }
}

@media (max-width: 1000px) {
  .cover {
    .cover-title {
      padding-left: 5%;
      font-size: 30px;
    }
  }
  .about {
    margin-top: 0;
  }
}

@media (max-width: 900px) {
  .hide-900 {
    display: none;
  }
  .show-900 {
    display: block;
  }
  .cover {
    height: 750px;
  }
  .about {
    background: url(../img/lab-egg.png) bottom center no-repeat;
    height: 550px;
    .lab-right {
      position: initial;
      .chalkboard {
        display: none;
      }
      .chalkboard-text {
        position: initial;
        color: #b6dbdd;
        font-family: 'Muli', sans-serif;
        font-size: 30px;
        margin-bottom: 45px;
        text-align: center;
      }
    }
    .bookshelf {
      background: none;
      float: none;
      width: 100%;
      text-align: center;
      .bookshelf-mobile {
        display: block;
        width: 100%;
        max-width: 550px;
      }
    }
  }
  .exper {
    margin-top: 180px;
    background: none;
    background-color: #003664;
    .history {
      margin-left: 10%;
    }
  }
}

@media (max-width: 800px) {
  .cover {
    background: url(../img/cover-background-800.png) top center no-repeat;
    .cover-title {
      padding: 100px 0 0 0;
      text-align: center;
      font-size: 35px;
      text-shadow: -2px -1px rgba(0, 0, 0, 0.2);
    }
  }
  .exper {
    .willow {
      font-size: 35px;
    }
    .exper-title-main {
      font-size: 25px;
    }
  }
}

@media (max-width: 700px) {
  .about {
    .lab-right {
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .exper {
    margin-top: 100px;
  }
}

@media (max-width: 530px) {
  .exper {
    margin-top: 50px;
  }
}

@media (max-width: 480px) {
  // large handset
  h1 {
    font-size: 25px;
  }
  div.cover {
    .nav-bar {
      ul {
        text-align: center;
      }
    }
  }
  .exper {
    margin-top: 0;
  }
}