@charset "UTF-8";
body {
	padding:0;
	margin:0; 
	background-color:#666;}
#houseContents {overflow-y:hidden;}
img {padding:0; margin:0;}
#bgimg {
	position:absolute;
	top:1px;}
#preloader {
	width:500px;
	margin:0 auto;}
#preloader #gif {border:1px solid black;margin-left:130px;}
	
	
/* -------------------  INTERACTIVE -------------------- */
/* ------ BEDROOM (Z 5-20 )------- */
#bed {
	position:absolute;
	top:315px;
	left:470px;
	z-index:6;
	cursor:pointer;}
#pillow {
	position:absolute;
	top:331px;
	left:546px;
	z-index:8;
	cursor:pointer;}
#cat {
	position:absolute;
	top:358px;
	left:665px;
	z-index:10;
	cursor:pointer;}
#sTable {
	position:absolute;
	top:360px;
	left:765px;
	z-index:5;
	cursor:pointer;}
#sTableD {
	position:absolute;
	top:378px;
	left:823px;
	z-index:7;
	cursor:pointer;}
#dresser {
	position:absolute;
	top:355px;
	left:210px;
	cursor:pointer;}
#handle {
	position:absolute;
	top:400px;
	left:253px;
	cursor:pointer;}
#closet {
	position:absolute;
	top:245px;
	left:370px;
	cursor:pointer;}
#doorKnob {
	position:absolute;
	top:358px;
	left:458px;
	z-index:9;
	cursor:pointer;}
	
/* ------ LIVING ROOM (Z 21-30 )------- */
#couch {
	position:absolute;
	top:640px;
	left:80px;
	z-index:22;
	cursor:pointer;}
#cushion {
	position:absolute;
	top:706px;
	left:230px;
	z-index:23;
	cursor:pointer;}
#dog {
	position:absolute;
	top:700px;
	left:740px;
	z-index:24;
	cursor:pointer;}
#picture {
	position:absolute;
	top:575px;
	left:145px;
	cursor:pointer;}
#lamp {
	position:absolute;
	top:550px;
	left:350px;
	z-index:21;
	cursor:pointer;}
#clock {
	position:absolute;
	top:550px;
	left:440px;
	cursor:pointer;}
#socket {
	position:absolute;
	left:435px;
	top:700px;
	cursor:pointer;}
#calendar {
	position:absolute;
	left:535px;
	top:550px;
	cursor:pointer;}
#stairs {
	position:absolute;
	left:573px;
	top:489px;
	cursor:pointer;}
#stair {
	position:absolute;
	left:573px;
	top:733px;
	cursor:pointer;
	z-index:25;}
	
/* ------ KITCHEN/ENTRY (Z 31-40 )------- */
#door {
	position:absolute;
	top:560px;
	left:1050px;
	z-index:33;
	cursor:pointer;}
#peepHole {
	position:absolute;
	top:630px;
	left:1108px;
	z-index:39;
	cursor:pointer;}
#mailSlot {
	position:absolute;
	top:705px;
	left:1091px;
	z-index:40;
	cursor:pointer;}
#coatRack {
	position:absolute;
	top:535px;
	left:960px;
	z-index:31;
	cursor:pointer;}
#jacket {
	position:absolute;
	top:564px;
	left:965px;
	z-index:38;
	cursor:pointer;}
#table {
	position:absolute;
	top:628px;
	left:1180px;
	z-index:32;
	cursor:pointer;}
#chairs {
	position:absolute;
	top:709px;
	left:1180px;
	z-index:34;
	cursor:pointer;}	
#fridge {
	position:absolute;
	top:544px;
	left:1750px;
	cursor:pointer;}
#freezer {
	position:absolute;
	top:697px;
	left:1750px;
	cursor:pointer;
	z-index:37;}
#cabinets {
	position:absolute;
	top:500px;
	left:1417px;
	cursor:pointer;}
#counter {
	position:absolute;
	top:634px;
	left:1417px;
	cursor:pointer;
	z-index:31}
#stove {
	position:absolute;
	top:628px;
	left:1527px;
	cursor:pointer;
	z-index:32;}
#burners {
	position:absolute;
	top:658px;
	left:1527px;
	cursor:pointer;
	z-index:35;}
#oven {
	position:absolute;
	top:695px;
	left:1527px;
	cursor:pointer;
	z-index:36;}
	
/* ------ BATHROOM (Z 41-50 )------- */
#toilet {
	position:absolute;
	top:335px;
	left:1455px;
	cursor:pointer;}
#sink {
	position:absolute;
	top:320px;
	left:1325px;
	cursor:pointer;}
#faucet {
	position:absolute;
	top:320px;
	left:1368px;
	cursor:pointer;
	z-index:44;}
#mirror {
	position:absolute;
	top:250px;
	left:1365px;
	cursor:pointer;}
#tub {
	position:absolute;
	top:370px;
	left:1615px;
	z-index:42;
	cursor:pointer;}
#shower {
	position:absolute;
	top:297px;
	left:1510px;
	z-index:41;
	cursor:pointer;}
#showerHead {
	position:absolute;
	top:297px;
	left:1588px;
	z-index:43;
	cursor:pointer;}
#drain {
	position:absolute;
	top:443px;
	left:1587px;
	z-index:44;
	cursor:pointer;}
	
/* ------ EXTRA ROOM (Z 51-60 )------- */
#window {
	position:absolute;
	left:1015px;
	top:235px;
	cursor:pointer;}
#railing {
	position:absolute;
	left:893px;
	top:357px;
	cursor:pointer;}
#plant {
	position:absolute;
	left:1170px;
	top:275px;
	cursor:pointer;}


/* ----------------  NON INTERACTIVE ------------------- */
#frame {
	position:absolute;
	top:240px;
	left:542px;}
#frame2 {
	position:absolute;
	top:240px;
	left:775px;}
#frame3 {
	position:absolute;
	top:242px;
	left:905px;}
#frame4 {
	position:absolute;
	top:542px;
	left:1245px;}
#family {
	position:absolute;
	top:560px;
	left:210px;}
#liv1 {
	position:absolute;
	top:570px;
	left:290px;}
