$nav-height: 50px;
$dino-tube-width: 90px;

html, body, h1, h2, h3, h4, p, a {
  font-family: 'Muli', sans-serif;
}

body {
  background-color: #0b0b4f;
  color: #fff;
  letter-spacing: .5px;
}

h1 { font-size: 40px; }
h2 { font-size: 30px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
p  { font-size: 16px; }
a  {
  text-decoration: none;
  font-weight: 100;
}
ul {}
br {}
hr {}
.grey-text {
  font-weight: 100;
  color: #ccc;
}

div.max-width {
  width: 1200px;
  margin: 0 auto;
}

.nav-bar {
  position: fixed;
  z-index: 3;
  height: $nav-height;
  top: 0;
  background-color: #333;
  box-shadow: 0px 4px 40px -8px rgba(0, 0, 0, 0.3);
  width: 100%;
  color: #fff;
  text-align: right;
  padding: 12px;
  box-sizing: border-box;
  border-bottom: 1px solid #030338;
  a { 
    padding: 0 10px 2px 10px;
    margin: 0 10px;
    &.first { padding-left: 0; }
    color: #fff;
    &:hover {
      color: #5ebbdd;
      cursor: pointer;
    }
    &.active {
      border-bottom: 2px solid #5ebbdd;
    }
  }
}

.cover {
  background: url(../img/cover-background.png);
  background-repeat: no-repeat;
  background-position: top center;
  height: 100vh;
  margin: ($nav-height - 20) 0 0 0;
  .cover-title {
    padding: 280px 0 0 50px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
  }
}

.about {
  margin-top: 50px;
  height: 100vh;
  .bookshelf {
    margin-top: 112px;
  }
  .lab-right {
    margin-top: 112px;
    position: relative;
    img.chalkboard {
      margin-left: 25px;
    }
    img.dinos {
      margin: 27px 0 0 25px;
    }
    h1 {
      color: #fff;
      font-family: 'Walter Turncoat', sans-serif;
    }
    .chalkboard-text {
      position: absolute;
      top: 50px;
      left: 70px;
    }
  }
}

.exper {
  background: url(../img/chemical-background.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-color: #003664;
  padding: 80px 0;
  .exper-box {
    margin-bottom: 20px;
  }
  .exper-title-main {
    font-weight: 100;
  }
  .exper-title {
    margin-bottom: 10px;
  }
  .exper-company {
    margin-bottom: 20px;
  }
  .exper-desc {
    margin-bottom: 60px;
  }
}