html, body, h1, h2, h3, h4, p, a {
  font-family: 'Noto Sans', sans-serif;
}

body {
  background-color: #ddd;
}

h1 {
  font-size: 40px;
}

h2 {}
h3 {}
h4 {}
p  {}
a  {
  text-decoration: none;
}
ul {}
br {}
hr {}

div.max-width {
  width: 1100px;
  margin: 0 auto;
}

div.cover {
  background: url(../img/cover-background.svg) #0077a2;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  margin: 0;
  height: 100%;
  min-height: 800px;
  width: 100%;
  .nav-bar {
    background-color: #333;
    box-shadow: 0px 4px 40px -8px rgba(0, 0, 0, 0.3);
    width: 100%;
    color: #fff;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #030338;
    a { 
      padding: 0 15px;
      &.first { padding-left: 0; }
      &.last { padding-right: 0; }
      color: #fff;
      &:hover {
        color: #5ebbdd;
      }
    }
  }
  .cover-title {
    margin: 175px 0 0 50px;
    text-shadow: 0px 1px rgba(255, 255, 255, 0.2);
  }
}