@charset "UTF-8";

body {margin:0;padding:0;background-color:white;}
div {margin:0;padding:0;}
p {margin:0;padding:0;font-family:'Poiret One',sans-serif;font-size:20px;}
table{padding:20px 20px 0 0;margin:0;}
th {padding: 0 0 0 10px;margin:0;font-family:'Poiret One',sans-serif;font-size:24px;}
td {padding: 0 0 0 10px;margin:0;font-family:serif;font-size:18px;}
ul {
	margin:0;padding:30px 0 0 0;
	float:left;
	width:150px;
	height:600px;
	padding:0 0 0 30px;
	margin:0 20px 0 0;
	box-shadow:
	0 1px 2px #fff, /*bottom external highlight*/
  	0 -1px 1px #000, /*top external shadow*/ 
  	inset 0 -1px 1px rgba(0,0,0,1), /*bottom internal shadow*/ 
  	inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
	border-right:1px solid black;}
li {
	padding:30px 0 0 0;
	margin:0 auto;
	list-style:none;
	font-family: 'Poiret One', sans-serif;
	font-size:20px;
	font-weight:bold;
	display:inine}
li:hover {
	cursor:pointer;
	color:#666;
	text-decoration:underline;}
h1 {
	margin:0;pading:0;
	font-family: 'Life Savers', cursive;
	font-size:50px;
	text-align:center;}
h2 {
	margin:0;padding:0;
	font-family: 'Life Savers', cursive;
	font-size:30px;
	text-align:center;}
h3 {margin:0;padding:20px 0 0 0;font-family:'Poiret One',sans-serif;font-size:25px;}
#html h2, #css h2 {padding-top:270px;}

	
/* ------ TOP ------ */
#header {
	background-color:#aa7777;
	width:800px;
	height:100px;
	margin:0 auto;
	padding-top:30px;
	box-shadow: 
	0 1px 2px #fff, /*bottom external highlight*/
  	0 -1px 1px #000, /*top external shadow*/ 
  	inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
  	inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
	border-right:1px solid black;}
#header:hover {cursor:pointer;}
	
#nav {
	background-color:#aaaaaa;
	width:800px;
	height:50px;
	padding-top:10px;
	margin:0 auto;
	box-shadow: 
	0 1px 2px #fff, /*bottom external highlight*/
  	0 -1px 1px #000, /*top external shadow*/ 
  	inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
  	inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
	border-right:1px solid black;}
#nav2 {
	background-color:#aaaaaa;
	width:800px;
	height:50px;
	padding-top:10px;
	margin:0 auto;
	box-shadow: 
	0 1px 2px #fff, /*bottom external highlight*/
  	0 -1px 1px #000, /*top external shadow*/ 
  	inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
  	inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
	border-right:1px solid black;}
#nav3 {
	background-color:#aaaaaa;
	width:800px;
	height:50px;
	padding-top:10px;
	margin:0 auto;
	box-shadow: 
	0 1px 2px #fff, /*bottom external highlight*/
  	0 -1px 1px #000, /*top external shadow*/ 
  	inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
  	inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
	border-right:1px solid black;}
	
#content {
	width:800px;
	margin:0 auto;}
	
/* ------ HTML ------ */
#html {
	background-color:#66ddbb;
	float:left;
	width:400px;
	height:600px;
	box-shadow: 
	0 1px 2px #fff, /*bottom external highlight*/
  	0 -1px 1px #000, /*top external shadow*/ 
  	inset 0 -1px 1px rgba(0,0,0,1), /*bottom internal shadow*/ 
  	inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
	border-right:1px solid black;}
#html:hover {cursor:pointer;}
#htmlimg {margin:20px 0 0 0; 0;padding:0;}
#h1 {padding-top:20px;}
#h1 p {
	font-family: 'Cutive Mono', serif;
	font-size:20px;}
#h12 p {
	font-family: 'Cutive Mono', serif;
	font-size:20px;}
#h2 {padding-top:20px;}
#h2 p {
	font-family: 'Cutive Mono', serif;
	font-size:20px;}
#h22 {padding-top:20px;}
#h22 p {
	font-family: 'Cutive Mono', serif;
	font-size:20px;}
#h3 {padding-top:20px;}
#h3 p {
	font-family: 'Cutive Mono', serif;
	font-size:20px;}
#h4 {padding-top:20px;}
#h4 p {
	font-family: 'Cutive Mono', serif;
	font-size:20px;}
	
	
	
/* ------ CSS ------ */
#css {
	background-color:#bbcc55;
	width:400px;
	height:600px;
	margin-left:400px;
	box-shadow: 
	0 1px 2px #fff, /*bottom external highlight*/
  	0 -1px 1px #000, /*top external shadow*/ 
  	inset 0 -1px 1px rgba(0,0,0,1), /*bottom internal shadow*/ 
  	inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
	border-right:1px solid black;}
#css:hover {cursor:pointer;}
#css ul {width:170px;}
#frontPage {padding-top:70px;}
#frontPage p {font-family: 'Cutive Mono', serif;margin-bottom:30px;}
#c5 p {
	background-image:url('images/picture.png'); 
	margin-left:250px; 
	height:70px;
	width:500px;
	border:1px solid black;}
#c5 h3 {padding:17px 0 0 0; ;margin:0;}
#c6 p, #c7 p, #c8 p {font-family: 'Cutive Mono'; font-size:20px;}
#c8 {width:500px;margin-left:220px;}