html, body, ul, ol, li, h1, h2, h3, h4, h5,
p, a, span, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100; }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3,
.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px; }

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3,
.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

@media (min-width: 800px) {
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
  .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
  .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
  .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; } }

html, body, h1, h2, h3, h4, p, a {
  font-family: 'Muli', sans-serif; }

body {
  background-color: #002157;
  color: #fff;
  letter-spacing: .5px; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

p {
  font-size: 16px; }

a {
  text-decoration: none;
  font-weight: 100; }

.grey-text {
  font-weight: 100;
  color: #aaa; }

.wrapper {
  min-width: 360px;
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto; }

.cover {
  height: 720px;
  background: url(../img/cover-background-800.png) top left no-repeat; }
  .cover .cover-title {
    padding: 60px 0 0 30px;
    color: #002157;
    font-family: 'Amatic SC', sans-serif; }

.about {
  height: 580px;
  display: relative;
  margin-top: 0;
  background: url(../img/lab-egg.png) bottom center no-repeat;
  background-color: #002157; }
  .about .bookshelf {
    background: none;
    float: none;
    width: 100%;
    text-align: center; }
  .about .lab-right .chalkboard-text {
    color: #b6dbdd;
    font-size: 30px;
    margin-bottom: 45px;
    text-align: center; }
  .about .lab-right .lab-right {
    margin: 0 auto; }
    .about .lab-right .lab-right img.dinos {
      display: none; }
  .about .skills {
    text-align: center;
    font-size: 22px;
    margin-bottom: 18px;
    color: #b6dbdd; }

.exper {
  padding-top: 80px;
  background-color: #003664; }
  .exper .willow {
    font-size: 35px; }
  .exper .history {
    margin-left: 0; }
  .exper .exper-box {
    margin-bottom: 20px; }
  .exper .exper-title-main {
    font-weight: 100;
    font-size: 25px; }
  .exper .exper-title {
    margin-bottom: 10px; }
  .exper .exper-company {
    margin-bottom: 20px; }
  .exper .exper-desc {
    margin-bottom: 60px;
    color: #b6dbdd; }
  .exper .exper-desc.last {
    margin-bottom: 0; }

/* breakpoints based on material design */
.show-840, .show-1280 {
  display: none; }

@media (min-width: 840px) {
  .show-840 {
    display: block; }
  .hide-840 {
    display: none; }
  .cover {
    height: 720px;
    background: url(../img/cover-background-1280.png) top left no-repeat; }
    .cover .cover-title {
      padding: 80px 0 0 180px;
      font-size: 60px;
      text-align: left; }
  .about {
    height: 400px;
    background: url(../img/lab-dinos-sm.png) bottom center no-repeat; }
    .about .bookshelf {
      margin: 20px auto -20px auto;
      float: none; }
    .about .dinos {
      position: relative;
      margin: 0 auto;
      bottom: -20px; }
  .exper {
    background: url(../img/chemical-background.png) bottom right no-repeat #003664; }
    .exper .history {
      margin-left: 10%; } }

@media (min-width: 1280px) {
  .show-1280 {
    display: block; }
  .hide-1280 {
    display: none; }
  .cover {
    height: 800px;
    background: url(../img/cover-background-1500.png) top center no-repeat; }
    .cover .cover-title {
      padding: 140px 0 0 100px; }
  .about {
    height: auto;
    background-image: none;
    padding-top: 50px; }
    .about .wrapper {
      display: flex;
      justify-content: center; }
    .about .bookshelf {
      height: 668px;
      width: 590px; }
    .about .lab-right {
      position: relative;
      width: 550px; }
      .about .lab-right img.chalkboard {
        margin: 20px 0 0 25px;
        width: 550px; }
      .about .lab-right .dinos {
        position: relative;
        bottom: -52px; }
      .about .lab-right .chalkboard-text {
        position: absolute;
        text-align: left;
        color: #b6dbdd;
        font-family: 'Walter Turncoat', sans-serif;
        top: 50px;
        left: 60px; } }

@media (min-width: 1440px) {
  .cover {
    height: 1000px;
    background: url(../img/cover-background-1900.png) top center no-repeat; }
    .cover .cover-title {
      padding: 140px 0 0 100px; } }
